<div class="container">
  <div class="h1">
    <h1>Hotel Booking Management System</h1>
  </div>
  <div class="content">
    <form>
      <label for="id"> Id </label><br />
      <input type="text" name="id" /><br />
      <br /><label for="name"> Name </label><br />
      <input type="text" name="name" /><br />
      <br /><label for="Rooms">Rooms</label><br />
      <input type="text" name="Rooms" />
      <br /><br />
      <button>Save</button>
      <button>Update</button>
      <button>Delete</button>
    </form>
    <div class="sec">
      <h3>Employee List</h3>
      <br style="background-color: blue" />
    </div>
  </div>
</div>
